<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= fruit.name %> </title>
</head>
<body>
    <h1> <%= fruit.name %> </h1>
    <% if (fruit.isReadyToEat) { %>
        <p>This fruit is ready to eat</p>
    <% } else { %>
        <p>It's NOT ready to eat</p>
    <% } %>




    <a href="/fruits">Browse Fruits</a> <!-- link to go back to index page -->
    <a href="/fruits/new">Add Fruits</a> <!-- link to go to form page -->
    <a href="/fruits/<%=fruit.id%>/edit">Edit</a> <!-- link to go to edit page -->

</body>
</html>